@import "./variables.scss";

.morph_shape1 {
  fill: url(#MyGradient);
}

.morph_shape2 {
  fill: $color4;
}
.morph_shape3 {
  fill: $color6;
}
.morph_shape4 {
  fill: $color4;
}

.nav-links {
  width: 400px;
  height: 200px;
  z-index: 99999;
  background: pink;
}

.shape-overlays {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes intervalHamburgerBorder {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@keyframes intervalHamburgerBorder {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
}

@media screen and (max-width: 55em) {
  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    transform: scale(0.75);
  }
  .content {
    height: auto;
    min-height: 0;
    padding-bottom: 10em;
    flex-direction: column;
  }
  .content--fixed {
    position: relative;
    z-index: 0;
    display: block;
    padding: 0.85em;
  }
}
